version: '3.7'

services:

  postgres:
    image: 'postgres:latest'
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=SUVE
    volumes:
      - postgres:/docker-entrypoint-initdb.d/postgresql
    networks:
      - suve


  authserver:
    image: "authserver:bun"
    container_name: authserver
    ports:
      - '3003:3003'
    environment:
      - DB_NAME=SUVE
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432
      - DB_HOST=postgres
      - DB_URL=postgresql://postgres:postgres@postgres:5432/SUVE
    depends_on:
      - postgres
    networks:
      - suve
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/docker-entrypoint-initdb.d/mongodb
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: vive_dev
      ME_CONFIG_BASICAUTH_PASSWORD: QAZPLM
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: klr268
    networks:
      - suve

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000" 
      - "9001:9001"   
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - suve


networks:
  suve:
    driver: bridge

volumes:
  mongodb:
    driver: local
  postgres:
    driver: local
  redis:
    driver: local
  minio_data:
    driver: local